html{
    padding: 0;
    font-family: "Teko", sans-serif;
    background-color: #0B1622;
    scroll-behavior: smooth;
}


h1{
    font-weight: 600;
    font-size: 7vw;
    font-style: bold;
}

h2{
    font-weight: 600;
    font-size: 4vw;
    font-style: bold;
    margin: 20px 0px;
}

h3{
    font-weight: 600;
    font-size: 1.5vw;
    font-style: bold;
}

h4{
    font-weight: 600;
    font-size: 16vw;
    font-style: bold;
}

p{
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.Head{
  margin-top: 130px;
}

/*Color Scheme*/
.main-color {
    background-color: #151F2E; 
}
.main-color2 {
    background-color: #C163F9;
}


.main-text {
    color: #9fadbd;
}

.secondary-text {
    color: #C163F9;;
}

.bg-main {
    background-color: #0B1622;
}




/*Fonts*/

.teko{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}





/*Default Button*/
.Button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    color: white;
    cursor: pointer;
    border: none;
}
.ButtonStroke{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border: 2px #79D779 solid;
}

.ButtonText {
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    line-height: 1;
    padding-top: 6px;
}
.Button a:link, .Button a:visited{
    font-weight: 600;
    color: white;
    text-decoration: none;
}
a:link, a:visited{
    font-weight: 600;
    color: white;
    text-decoration: none;
}





/*Header*/
.Logo {
    width: 79px;
    height: 82px;
}
.Navbar{
    display: flex;
    padding: 20px;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    align-items: center;
}
.headerLinks{
    height: 100%;
    width: 100%;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 23px;
    text-transform: uppercase;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    list-style-type: none;
    transition: transform 2s;
}

.Header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}
.Header2 {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 60px;
}